<div class="jumbotron">
    <h1>TV Info</h1>
    <p class="lead">TV Info allows the whole family to get up to date information about their favourite TV shows just by asking!</p>
    <p><a href="https://www.amazon.co.uk/dp/B01N9TUMKF/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1485450025&sr=1-1&keywords=tv+info" class="btn btn-primary btn-lg">Get the skill &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Get the skill</h2>
        <p>Want to know when the next episode is on, or who plays your favourite character? Get Alexa to ask TV Info and she'll fill you in on whatever you want to know.</p>
        <p><a class="btn btn-default" href="https://www.amazon.co.uk/dp/B01N9TUMKF/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1485450025&sr=1-1&keywords=tv+info">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The code</h2>
        <p>The skill uses an endpoint hosting on Azure and written in C#. Take a look at the repo on GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/kmcoulson/AlexaTvInfoSkill">Go to GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TV Info</h2>
        <p>Want some TV info right now? Check out the shows page to find what you need.</p>
        <p><a class="btn btn-default" href="/Shows">Shows &raquo;</a></p>
    </div>
</div>
