body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: Grey;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFF;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #46008C;
}
    .navbar .navbar-brand {
        width: 65px;
        background-image: url(/Images/TVInfoWebsiteIcon.png)
    }

.jumbotron {
    -ms-border-top-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    -ms-border-top-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    background-color: #ECD9FF;
    background-image: url(/Images/TVInfoBackgroud.png)
}

.btn-primary {
    background-color: #46008C;
    border-color: #290053;
}
    .btn-primary:hover {
        background-color: #9c66d2;
    }
