@model List<Tuple<DateTime, string, string, string>>

@{
    ViewBag.Title = "Test Logs";
}

<h2>TV Info Request Logs</h2>

<table class="table">
    <thead>
        <tr>
            <th>Request</th>
            <th>New Match</th>
            <th>Result</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var requestLog in Model.OrderByDescending(x => x.Item1))
        {
            <tr>
                <td>@requestLog.Item2</td>
                <td>@requestLog.Item3</td>
                <td>@requestLog.Item4</td>
            </tr>
        }
    </tbody>
</table>
